body {
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #50d4f5, #801ae6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form {
    background-color: white;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    /* height: 600px; */
}

.form-body {
    text-align: left;
    padding: 20px 10px;
}

.form-body>* {
    padding: 5px;
}

.form__label {
    width: 40%;
}

.form_input {
    width: 60%;
}

.footer {
    text-align: center;
}



* {
    box-sizing: border-box;
}

.page-contain {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #E7F3F1;
    border: .75em solid white;
    padding: 2em;
    font-family: 'Open Sans', sans-serif;
}

.data-card {
    display: flex;
    flex-direction: column;
    max-width: 20.75em;
    min-height: 20.75em;
    overflow: hidden;
    border-radius: .5em;
    text-decoration: none;
    background: rgba(177, 231, 198, 0.747);
    margin: 1em;
    padding: 2.75em 2.5em;
    box-shadow: 0 1.5em 2.5em -.5em rgba(#000000, .1);
    transition: transform .45s ease, background .45s ease;
    height:400px;
    
}

h3 {
    color: #2E3C40;
    font-size: 2em;
    font-weight: 600;
    line-height: 1;
    padding-bottom: .5em;
    margin: 0 0 0.142857143em;
    
    transition: color .45s ease, border .45s ease;
  }

  .flex-wrapper{
    display:flex;
    min-height:80vh;
    flex-direction: column;
    
  }

 