.foot {
  color: rgb(197, 216, 241) !important;
  font-size: 20px;
}

.foot:hover {
  color: white !important;
}

.quicklink {
  font-size: 22px !important;
}

.col {
  padding: 10px;
}

.icon {
  margin-right: 10px !important;
  color: rgb(197, 216, 241);
}